
<section class="container-fluid">
    <div class="row mt-3">
      <h1 class="text-center text-white bg-primary">Dashboard</h1>
        <p class="text-black text-center fs-5">This is your dashboard. You can use it to checkout venues you have created below, and you can create new venues using the form.
      <br>
      You can also edit a venue by clicking "edit" below the venue.
    </p>

</a>

<div class="col-lg-7 col-md-12 col-sm-12 mt-3">
      <h2 class="text-center bg-light rounded-3">Your Venues</h2>
  <div class="m-3">

{{!-- <div class="row"> --}}

<div class="row bg-dark rounded-3" id="target">

  

          {{#if dvenues.venues.length}}
            {{#each dvenues.venues as |venue|}}

<div
    class="card m-2 card-border border-1 mb-5 rounded,"
    style="max-width: 20rem;"> 

    <h5 class="card-header text-center text-white bg-primary">
      {{name}}
    </h5>

  <div>
    <h6 class="text-center">
      {{venuetype.type_name}}
    </h6>
  </div>
  <div>
    <p class="card-text">
      {{comments}}
    </p>
  <div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item text-center">
          <a href="{{url}}">
            {{url}}
          </a>
        </li>
        <li class="list-group-item list-group-flush">
          {{street}}
          ,
          <br>
          {{city}}
          ,
          <br>
          {{state}}
          ,
          {{zipcode}}
        </li>
        <li class="list-group-item list-group-flush">
          Min Occupancy:
          {{min}}
        </li>
        <li class="list-group-item list-group-flush">
          Max Occupancy:
          {{max}}
        </li>
        <li class="list-group-item list-group-flush">
          {{#if third_party_vendors}}
            Third party vendors: Yes
          {{else}}
            Third party vendors: No
          {{/if}}
        </li>
  
  </div>
      
      <div class="card-footer bg-white">
        <button
          type="button"
          class="editBtn btn btn-rounded-3 rounded-3 m-1 bg-primary  text-white"
          id={{venue.id}}
        >
          Edit Venue
        </button>
        <button
          type="button"
          class="delBtn btn btn-rounded-3 rounded-3 m-1 bg-primary  text-white"
          id={{venue.id}}
        >
          Delete Venue
        </button>
      </div>
    </div>
  </div>



            {{/each}}
        {{/if}}
          </div>
        </div>
      </div>





<!--Form Data-->
       <div class="col-lg-4 col-sm-12 ml-2 mt-3 background-grey rounded-2 ">

  <h2 class="text-center">Create New Venue</h2>
  <p class="text-center">Enter your details below to create a new venue</p>

  <form class="new-post-form">
            <!--Venue Name-->
            <div class="col-sm-12 col-form-label mb-3">
              <label for="name">Name of Venue:</label>
              <input type="name" class="form-control" id="name" placeholder="Enter Name of Venue" />
            </div>

            <!--Venue Type-->
            <div class="col-sm-12 col-form-label mb-3">
              <label for="venuetype.type_name">Type of Venue: </label>
              <select id="venuetype">
                {{#if dvenues.typevenues.length}}
                   {{#each dvenues.typevenues as |typevenues|}}
                    <!--generate all type Venues options-->
                        <option value={{typevenues.id}}>{{typevenues.type_name}}</option>
                    {{/each}}
                  {{/if}}
              </select>
            </div>

            <!--Description Type-->
            <div class="col-sm-12 col-form-label mb-3">
              <label for="comments">Description of Venue:</label>
              <textarea type="comments" id="comments" placeholder="Enter a description of your Venue" class="form-control" rows="5"></textarea>
            </div>

            
            <!--Venue URL-->
            <div class="col-sm-12 col-form-label mb-3">
              <label for="url">Venue Website:</label>
              <input type="url" class="form-control" id="url" placeholder="Enter your Venue Website Address" />
            </div>


            <!--Street address-->
            <div class="col-sm-12 col-form-label mb-3">
              <label for="street" class="form-label">Street Address:</label>
              <input
                type="street"
                class="form-control"
                id="street"
                placeholder="Street Address" />
            </div>

            <!--City-->
            <div class="col-sm-12 col-form-label mb-3">
              <label for="city">City:</label>
              <input type="city" class="form-control" id="city" placeholder="Enter the City" />
            </div>

            <!--State-->
            <div class="col-sm-12 col-form-label mb-3">
              <label for="state">State:</label>
              <input type="state" class="form-control" id="state" placeholder="Enter the State" />
            </div>

  
          <!--Zipcode-->
            <div class="col-sm-12 col-form-label mb-3">
              <label for="zipcode">Zipcode:</label>
              <input type="zipcode" class="form-control" id="zipcode" placeholder="Enter the Zipcode" />
            </div>



          <!--Minimum Occupancy-->
            <div class="col-sm-12 col-form-label mb-3">
              <label for="min">Minimum number of Guest allowed</label>
              <input type="min" class="form-control" id="min" placeholder="Enter the Minimum number of Guest allowed" />
            </div>

          <!--Maximum Occupancy-->
             <div class="col-sm-12 col-form-label mb-3">
              <label for="max">Maximum number of Guest allowed</label>
              <input type="max" class="form-control" id="max" placeholder="Enter the Maximum number of Guest allowed" />
            </div>
            <div class="form-check">Does this venue accept 3rd party vendors?
              <br>
              <input class="form-check-input" type="radio" name="flexRadioDefault" value="1" id="flexRadioDefault1">
             <label class="form-check-label" for="flexRadioDefault1">
              Yes
              </label>
              </div>
              <div class="form-check">
              <input class="form-check-input" type="radio" name="flexRadioDefault" value="0" id="flexRadioDefault2" checked>
              <label class="form-check-label" for="flexRadioDefault2">
                No
              </label>
            </div>


          <!--Submit Button-->
            <div class="col-sm-10">
              <a href="/dashboard/{{venue.id}}"><button type="submit" class="btn btn-primary mb-3">Create Venue</button></a>
            </div>
            </form>
</div>
</div>

</section>
<!--add new venue-->
<script src="/javascript/addcard.js"></script>
<!--etheir delete a venue or launch venue-->
<script src="/javascript/modifycard.js"></script>



