<section class="container-fluid background-edit">
  <article class="row">
    <div class="d-flex justify-content-center">
      
      
      <!--Begin card body:-->
  <div class="card m-3 rounded">
    <div class="card-header bg-primary">
      <h2 class="text-center text-white">
        Edit Venue
      </h2>
      </div>
      <div class="card-body bg-light">
            
    <form class="edit-post-form text-center">
      <label for="name" class="form-label">
        Name:
      </label>
      <br>
      <input
        name="name"
        id="name"
        class="col-sm-12  mb-3 rounded-3"
        type="text"
        value="{{dvenues.name}}"
      />
      <label for="comments" class="form-label mt-3">
        Description:
      </label>
      <br>
      <textarea
        name="#comments"
        id="comments"
        type="text"
        class="col-sm-12  mb-3 rounded-3"
        rows="3"
        placeholder="{{dvenues.comments}}"
        value="{{dvenues.comments}}"
      ></textarea>
      <label for="url" class="form-label">
        Website Address:
      </label>
      <br>
      <input
        name="url"
        id="url"
        type="text"
        class="col-sm-12  mb-3 rounded-3"
        value="{{dvenues.url}}"
      />
      <label for="street" class="form-label">
        Street Number:
      </label>
      <br>
      <input
        name="street"
        id="street"
        type="text"
        class="col-sm-12  mb-3 rounded-3"
        value="{{dvenues.street}}"
      />
      <label for="city" class="form-label">
        City:
      </label>
      <br>
      <input
        name="city"
        id="city"
        type="text"
        class="col-sm-12  mb-3 rounded-3"
        value="{{dvenues.city}}"
      />
      <label for="state" class="form-label">
        State:
      </label>
      <br>
      <input
        name="state"
        id="state"
        type="text"
        class="col-sm-12  mb-3 rounded-3"
        value="{{dvenues.state}}"
      />
      <label for="" class="form-label">
        Zipcode:
        
      </label>
      <br>
      <input
        name="zipcode"
        id="zipcode"
        type="text"
        class="col-sm-12  mb-3 rounded-3"
        value="{{dvenues.zipcode}}"
      />
      <label for="min" class="form-label">
        Minimum number of Guest allowed:
        
      </label>
      <br>
      <input
        name="min"
        id="min"
        type="text"
        class="col-sm-12  mb-3 rounded-3"
        value="{{dvenues.min}}"
      />
      <label for="max" class="form-label">
        Maximum number of Guest allowed:
      </label>
      <br>
      <input
        name="max"
        id="max"
        type="text"
        class="col-sm-12  mb-3 rounded-3"
        value="{{dvenues.max}}"
      />
      {{#if dvenues.third_party_vendors}}
         <div class="form-check">Does this venue accept 3rd party vendors?
           <br>
            <input class="form-check-input" type="radio" name="flexRadioDefault" value="1" id="flexRadioDefault1" checked>
            <label class="form-check-label" for="flexRadioDefault1">
             Yes
            </label>
         </div>
         <div class="form-check">
             <input class="form-check-input" type="radio" name="flexRadioDefault" value="0" id="flexRadioDefault2">
              <label class="form-check-label" for="flexRadioDefault2">
                No
              </label>
          </div>
         {{else}}
          <div class="form-check">Does this venue accept 3rd party vendors?
            <br>
             <input class="form-check-input" type="radio" name="flexRadioDefault" value="1" id="flexRadioDefault1">
             <label class="form-check-label" for="flexRadioDefault1">
              Yes
              </label>
          </div>
          <div class="form-check">
              <input class="form-check-input" type="radio" name="flexRadioDefault" value="0" id="flexRadioDefault2" checked>
              <label class="form-check-label" for="flexRadioDefault2">
                No
              </label>
          </div>
          {{/if}}

<hr class="m-3"></hr>


        <a class="btn btn-primary btn-lg btn-outline-dark text-light" href="/dashboard">
         Back to dashboard
        </a>

      <button type="submit" class="btn btn-primary btn-lg btn-outline-dark text-light">
        Save Venue
      </button>

        <a class="btn btn-primary btn-lg btn-outline-dark text-light" href="/dashboard">
          Cancel
        </a>
      </div>
    </form>
    </div>
  </div>
</article>
</section>
<script src="/javascript/editcard.js"></script>